<!DOCTYPE html>

<html lang = "en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Help Page</title>
</head>
<body>
    <h1><FONT COLOR = blue>why do you need help. I havn't made anything yet</FONT></h1>
    <!-- <div class="my-class">Well this is just a normal looking body. Well the body for essays. I do not have a human form.</div> -->
    <a href ='index.html'>
        <button><FONT COLOR = green>Home Page</FONT></button>
    </a>
</body>
</html>