<!DOCTYPE html>

<html lang = "en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Hershel's Flask Docker</title>
</head>
<body>
    <h1><FONT COLOR = blue>This is Hershel's first web flask app (Exciting)</FONT></h1>
    <div class="my-class">Well this is just a normal looking body. Well the body for essays. I do not have a human form.</div>
    <a href = '/help'>
        <button><FONT COLOR = magenta>Help Page</FONT></button>
    </a>
</body>


</button>
</html>